body {
  font-family: 'Bona Nova', sans-serif;
  background-color: #f9f9f9;
  color: #4b4b4b;
  -webkit-font-smoothing: none;
}

.code-regular {
  font-family: 'Google Sans Code', monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.code-bold {
  font-family: 'Google Sans Code', monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.serif-regular {
  font-family: 'Bona Nova', serif;
  font-weight: 400;
  font-style: normal;
}

.serif-regular-italic {
  font-family: 'Bona Nova', serif;
  font-weight: 400;
  font-style: italic;
}

.serif-bold {
  font-family: 'Bona Nova', serif;
  font-weight: 700;
  font-style: normal;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 5vw;
}

h1,
h2 {
  font-weight: normal;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
header a.name {
  color: #404040;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 1.8rem;
}
header span.location {
  color: black;
  font-weight: 300;
  font-size: 1.6rem;
}
header span.dash {
  color: gray;
  font-weight: 300;
  font-size: 1.6rem;
}

@media (max-width: 600px) {
  header {
    align-items: flex-start;
  }
  header > div.title > span {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
  }
  nav > a {
    margin-bottom: 0.4rem;
    font-size: 1.4rem;
  }
}

nav > a:last-child {
  margin-right: 0;
}

nav > a {
  display: inline;
  color: gray;
  text-decoration: none;
  font-size: 1.1rem;
  margin-right: 1rem;
}

nav > a.active {
  color: black;
}

a.link {
  color: Currentcolor;
  text-underline-offset: 2px;
  text-decoration: underline 1.5px;
  transition: text-decoration 200ms ease;
}

a.link:hover {
  text-decoration: underline 1.5px Currentcolor;
  transition: color 500ms ease;
}

section a {
  color: grey;
  transition: color 500ms ease;
}

section a:hover {
  color: black;
}

section,
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

section,
footer {
  flex-direction: column;
}

section > span.header {
  font-weight: 700;
  font-size: 1.3rem;
}

section {
  font-weight: 400;
  font-size: 1.15rem;
}

p.description {
  /* font-weight: 500; */
  font-size: 1.2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

footer {
  font-weight: 400;
  font-size: 1.15rem;
}

footer > div.social-link {
  display: flex;
  /* align-items: center; */
  .name {
    padding-right: 0.2rem;
  }
  .link {
    padding-left: 0.2rem;
  }
  .ellipsis {
    flex-grow: 1;
    text-align: center;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
  }
  .ellipsis::before {
    color: lightgray;
    content: '....................................................................................................................................................................................................................................................';
    position: absolute;
    left: 0;
    right: 0;
  }
}

.nms:hover {
  color: #ff4545;
}

.arcanys:hover {
  color: #7761ff;
}

.valhalla:hover {
  color: #00bffb;
}
